<h1>Welcome#contact</h1>
<p>Find me in app/views/welcome/contact.html.erb</p>
<p>added to the cloned version
if terminal hangs while installing devise: spring stop
commands to get devise to run:
I had to install rubyracer in gemfile
bundle install
bundle update
rails g devise:install

</p>

<%= link_to 'Home', root_path %>

