<!DOCTYPE html>
<html>
<head>
  <title>AppNew</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  All other pages come through here. 
  navigation goes here
  

<%= yield %>

  footer section could be here

</body>
</html>
